*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: rgb(38,70,83);
  font-size: 1.6rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

/* Media */
@media (max-width:500px) {
  .tranding-slide {
    width: 20rem !important;
    height: 42rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 20rem !important;
    height: 42rem !important;
  }
}